@model DesdeElBanquilloApplication.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPlayer" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JerseyNumber" class="control-label"></label>
                <input asp-for="JerseyNumber" class="form-control" />
                <span asp-validation-for="JerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarketValue" class="control-label"></label>
                <input asp-for="MarketValue" class="form-control" />
                <span asp-validation-for="MarketValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTeam" class="control-label"></label>
                <select asp-for="IdTeam" class="form-control" asp-items="ViewBag.IdTeam"></select>
                <span asp-validation-for="IdTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPosition" class="control-label"></label>
                <select asp-for="IdPosition" class="form-control" asp-items="ViewBag.IdPosition"></select>
                <span asp-validation-for="IdPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCountry" class="control-label"></label>
                <select asp-for="IdCountry" class="form-control" asp-items="ViewBag.IdCountry"></select>
                <span asp-validation-for="IdCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
